/* GENERAL DISPLAY */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: ivory;
}

/* ALIGNMENT */
.column1{
  float: left;
  width: 25%; 
  display: grid;
}

.column2{
  float: left;
  width: 55%; 
  display: grid;
  /* justify-items: left; */
}

.column3{
  float: left;
  width: 5%; 
  display: grid;

}

/* NAVIGATION */
#nav{
    height: 100%;
    background-color: palegreen;
}

#nav ul{
    list-style-type: none;
    margin: 0;
    padding: 20px 0px;
}

#nav ul li{
    display: block;
    padding: 10px 50px;
}

#nav ul li button{
    width: 100%;
    font-size: 300%;
}

#nav ul li button:hover{
    background-color: pink;
}

/* MAIN CONTENTS  */
/* TOPBAR */
#topBar{
    padding: 10px 5px;
    background-color: pink;
}

#topBar button a{
    text-decoration: none;
    color: black;
}

#topBar button a:link {
    text-decoration: none;
    color: black;
}

#topBar button a:visited {
    text-decoration: none;
    color: black;
}

#topBar button a:hover {
    text-decoration: none;
    color: black;
}

#topBar button a:active {
    text-decoration: none;
    color: black;
}

#topBar #settingsButton{
    float: right;
}

.welcome-message{
    text-align: center;
    font-size: 200%;
    padding: 10px 0px;
    color: white;
}

.login-message{
    text-align: left;
    font-size: 130%;
    padding: 0;
    margin: 0;
    color: white;
}

#logOut{
    display: none;
}

/* CURRENCY DISPLAY */
#currency{
    justify-items: center;
}

#currency ul li{
    list-style-type: none;
}

/* CAKE CLICKER */
#cake button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

  border: none;
  background: none;

  cursor: pointer;
}

#cake button img{
  width: 100%;
}

/* STATISTICS */
#stats{
    height: 100%;
    width: 170%;
    background-color: palegreen;
}

#stats h1{
    padding: 16px 0px;
    margin: 0;
    text-align: center;
}

#stats h2{
    padding: 0px 5px;
    margin: 0;
}


#stats ul{
    list-style-type: none;
    margin: 0;
    padding: 0px 5px;
}

/* SELL PAGE */
#sellSect{
    display: block;
    background-color: aqua;
    text-align: center;
    margin-top: 10%;
    padding: 10px 0px;
}

/* UPGRADES PAGE */
#upgradeSect{
    text-align: center;
    margin: auto;
}

#upgradeTable table, td, th{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
}

#upgradeTable table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#upgradeTable table button{
    width: 100%;
    padding: 10px;
}



/* SETTINGS PAGE */

#settingsSect{
    text-align: center;
    background-color: aliceblue;
}


#settingsSect label{
    padding-left: 30px;
}

#settingsSect button{
    margin: 10px;
    padding: 10px;
}

.error{
    color: red;
}

.success{
    color: green;
}
